In [1]:
from uuid import uuid4

In [2]:
import uuid

In [3]:
uuid

In [4]:
import utils

In [6]:
utils

In [7]:
import requests

In [8]:
requests

In [ ]:
Esc -> l
line numbers, jupyter notebook

In [32]:
class Car:
    location = "new york"
    
    def __init__(self, make, model, year, type="suv"):
        self.init_make = make
        self.init_model = model
        self.init_year = year
        self.init_type = type

        self.init_vin = str(uuid4())


    def get_car_details(self):
        self.init_vin = str(uuid4())
        
        return {
            "make": self.init_make,
            "model": self.init_model,
            "year": self.init_year,
            "vin": self.init_vin,
            "type": self.init_type,
            "location": self.location
        }

In [33]:
car = Car(
    make="Toyota",
    model="Camry",
    year=2023
)

In [28]:
car.location

'new york'

In [23]:
car.init_vin

'a6fe7ce5-0a81-4ca6-8ddd-5996e588f032'

In [34]:
car.get_car_details()

{'make': 'Toyota',
 'model': 'Camry',
 'year': 2023,
 'vin': '558bfb69-e42f-4319-9f93-1c939b32d0e7',
 'type': 'suv',
 'location': 'new york'}

In [25]:
car.init_vin

'dd899ddc-9e87-473c-8023-ea0f2e176fbb'

In [19]:
car = Car(
    make="Toyota",
    model="Camry",
    year=2023,
    type="sedan"
)

In [20]:
car.get_car_details()

{'make': 'Toyota',
 'model': 'Camry',
 'year': 2023,
 'vin': '0915092e-c3bd-4100-bfe8-1bcf423d8cf1',
 'type': 'sedan'}

In [35]:
class Vehicle:
    def get_type(self):
        print("It is a vehicle")

In [36]:
Vehicle().get_type()

It is a vehicle

In [39]:
class Car:
    def get_number_of_tyres(self):
        print("It has 4 tyres")

    def get_type(self):
        print("It is a vehicle")


class Bus:
    def get_number_of_tyres(self):
        print("It has 6 tyres")

    def get_type(self):
        print("It is a vehicle")


class Truck:
    def get_number_of_tyres(self):
        print("It has 8 tyres")

        def get_type(self):
            print("It is a vehicle")

In [50]:
class Car:
    def get_number_of_tyres(self):
        print("It has 4 tyres")
        # return 4

    def get_type(self):
        print("It is a vehicle")
        # return "Vehicle"

In [51]:
result1, result2 = Car().get_number_of_tyres(), Car().get_type()

It has 4 tyres
It is a vehicle

In [54]:
result1, result2, None

(None, None, None)

In [53]:
result1

In [56]:
result = Car().get_type()

It is a vehicle

In [57]:
result

In [58]:
result.__class__

NoneType

In [ ]:
class Vehicle:
    def get_type(self):
        print("It is a vehicle")

In [ ]:
() -> call -> function calls, calling classes

range(4)
car = Car()

In [ ]:
class ClassName:
    def __init__(self):
        pass

    expression(s)

In [ ]:
class ClassName(Vehicle):
    def __init__(self):
        pass

    expression(s)

In [65]:
### Inheritance

In [ ]:
Vehicle -> Car -> Sedan

In [77]:
class Vehicle:
    def get_type(self):
        print("It is a vehicle v2")

    def get_number_of_tyres(self, num_types):
        print(f"It has {num_types} tyres")


class Car(Vehicle):
    pass


class Sedan(Car):
    def print_car_type(self):
        print("it is a sedan")

In [72]:
Vehicle().get_type()

It is a vehicle v2

In [78]:
Car().get_number_of_tyres(4)

It has 4 tyres

In [74]:
Car().get_type()

It is a vehicle v2

In [75]:
Sedan().get_type()

It is a vehicle v2

In [76]:
Sedan().get_number_of_tyres()

It has 4 tyres

In [59]:



class Bus:
    def get_number_of_tyres(self):
        print("It has 6 tyres")


class Truck:
    def get_number_of_tyres(self):
        print("It has 8 tyres")

In [60]:
Car().get_type()

AttributeError: 'Car' object has no attribute 'get_type'

In [79]:
## Encapsulation

In [85]:
from uuid import uuid4

In [109]:
class Employee:
    def __init__(self, name, role):
        # public variable
        self.emp_name = name
        self.emp_role = role

        # self.emp_code = str(uuid4())

        # private variable
        self.__emp_code = str(uuid4())

    
    def get_employee_code(self, otp):
        if otp == "1234":
            return self.__emp_code
        else:
            print("invalid otp")
            return None

In [111]:
emp = Employee("firoz", "dba")
emp.emp_name, emp.emp_role

('firoz', 'dba')

In [112]:
emp.__emp_code

AttributeError: 'Employee' object has no attribute '__emp_code'

In [115]:
emp.get_employee_code("123")

invalid otp

In [116]:
emp.get_employee_code("1234")

'98805227-bfef-449b-884b-99ba2add38bc'

In [117]:
class Employee:
    def __init__(self, name, role):
        # public variable
        self.emp_name = name
        self.emp_role = role

        self.emp_code = str(uuid4())

        # private variable
        # self.__emp_code = str(uuid4())

    
    def get_employee_code(self, otp):
        if otp == "1234":
            return self.emp_code
            # return self.__emp_code
        else:
            print("invalid otp")
            return None

In [122]:
emp = Employee("firoz", "dba")
emp.emp_name, emp.emp_role, emp.emp_code

('firoz', 'dba', '1bddd03f-4e06-45be-946a-f8693bb3c339')

In [123]:
emp.get_employee_code("1234")

'1bddd03f-4e06-45be-946a-f8693bb3c339'

In [124]:
emp.emp_code = "23324234"

In [125]:
emp.get_employee_code("1234")

'23324234'

In [146]:
class Employee:
    def __init__(self, name, role):
        # public variable
        self.emp_name = name
        self.emp_role = role

        # self.emp_code = str(uuid4())

        # private variable -> cannot be accessed outside of class directly
        # self.__emp_code = str(uuid4())
        self.__emp_code = "emp-1234-abcd"
        self.emp_rating = 0


    def get_employee_code(self, otp):
        if otp == "1234":
            return self.__emp_code
        else:
            print("invalid otp")
            return None
    

    def modify_employee_code(self, otp, code):
        if otp == "1234":
            self.__emp_code = code 
            return self.__emp_code
        else:
            print("invalid otp")
            return None

In [147]:
emp = Employee("firoz", "dba")
emp.emp_name, emp.emp_role

('firoz', 'dba')

In [148]:
emp.__emp_code

AttributeError: 'Employee' object has no attribute '__emp_code'

In [149]:
emp.get_employee_code("1234")

'emp-1234-abcd'

In [150]:
emp.__emp_code = "sdf"

In [151]:
emp.__emp_code

'sdf'

In [152]:
emp.get_employee_code("1234")

'emp-1234-abcd'

In [153]:
emp.modify_employee_code("1234", 'emp-1234-xyz')

'emp-1234-xyz'

In [154]:
emp.get_employee_code("1234")

'emp-1234-xyz'

In [160]:
class Vehicle:
    def __init__(self, name):
        self.name = name
        self.__vin = str(uuid4())
        self.public_vin = str(uuid4())


    def get_vehicle_details(self):
        return {
            "name": self.name,
            "vin": self.__vin,
            "public_vin": self.public_vin,
        }

In [156]:
vehicle = Vehicle("Toyota")

In [157]:
vehicle.name, vehicle.public_vin

('Toyota', '4742582a-bfdc-48a3-a460-4b54cb34e829')

In [158]:
vehicle.__vin

AttributeError: 'Vehicle' object has no attribute '__vin'

In [159]:
vehicle.get_vehicle_details()

{'name': 'Toyota',
 'vin': 'f588ffc4-eff7-4465-a26a-1a2add06077e',
 'public_vin': '4742582a-bfdc-48a3-a460-4b54cb34e829'}

In [172]:
class Car(Vehicle):
    def get_car(self):
        print("It's a car")

    def modify_car_vin(self):
        self.__vin = "new vin"

In [173]:
car = Car("Toyota")

In [174]:
car.get_car()

It's a car

In [175]:
car.name, car.public_vin

('Toyota', 'f75bb10f-1a0f-4c0c-af81-cee9d7ec4c3d')

In [176]:
car.__vin

AttributeError: 'Car' object has no attribute '__vin'

In [177]:
car.get_vehicle_details()

{'name': 'Toyota',
 'vin': 'ae272a7f-0f30-4eb5-827d-f817cc1c9512',
 'public_vin': 'f75bb10f-1a0f-4c0c-af81-cee9d7ec4c3d'}

In [178]:
car.modify_car_vin()

In [179]:
car.get_vehicle_details()

{'name': 'Toyota',
 'vin': 'ae272a7f-0f30-4eb5-827d-f817cc1c9512',
 'public_vin': 'f75bb10f-1a0f-4c0c-af81-cee9d7ec4c3d'}

In [ ]:
inheritance
encapsulation

In [ ]:
class Employee:
    def __init__(self, name, role):
        pass

    def get_employee_code(self, otp):
        pass

    def modify_employee_code(self, otp, code):
        pass

In [ ]:
emp = Employee()
button click -> emp.get_employee_code(otp)


emp.__vin
name -> emp.name

emp.emp_code